<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ICEDebuger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>813487061ED94930005BAC7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8134871F1ED94931005BAC7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8134872A1ED94931005BAC7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
